
{% extends 'main/base.html' %}
{% block title %}
Registrer treningsøkten
{% endblock %}

{% block body %}

<div class="container">
  <h1 class="mb-4">Registrer treningsøkten: </h1>

  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      {{ field.label_tag }}
      {{ field }}

      <div class="text-danger">
        {% for error in field.errors  %}
          {{ error }}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="text-danger">
      {{ form.non_field_errors }}
    </div>

      <button type="submit" class="btn btn-dark btn-block btn-lg mt-4">Registrer</button>

  </form>

</div>

{% endblock body %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {

      $("#id_type").change(function(e){
       var blacklist = [0,2]
       var selected = parseInt(e.currentTarget.value)
       if(blacklist.includes(selected) ) {
         $("#id_distance").attr("disabled", true)
       }
       else {
         $("#id_distance").attr("disabled", false)
       }
     })

    })
  </script>
{% endblock %}
