
{% extends 'main/base.html' %}

{% block body %}


<h1>Registrer treningsøkten: </h1>

<form class="container">
    <label>Fornavn: </label>
    <input type="text" class="form-control"><br>
    <label>Etternavn: </label>
    <input type="text" class="form-control"><br>
    <label>Avdeling: </label>
    <input type="text" class="form-control"><br>
    <label>Treningstype: </label>
    <select class="form-control">
        <option value="løping">Løping</option>
        <option value="sykling">Sykling</option>
        <option value="gåing">Gåing</option>
        <option value="svømming">Svømming</option>
        <option value="ski">Ski</option>
    </select><br>


    <label>Distanse: </label>
    <input type="text" class="form-control"><br><br>

    <button type="button" class="btn btn-dark">Registrer</button>


</form>


{% endblock %}
