<html>
<body>

  <h1>Registrer treningsøkten </h1>

  <form>
    <label>Fornavn: </label>
    <input type="text"><br>
    <label>Etternavn: </label>
    <input type="text"><br>
    <label>Treningstype: </label>
    <select>
      <option value="løping">Løping</option>
      <option value="sykling">Sykling</option>
      <option value="gåing">Gåing</option>
      <option value="svømming">Svømming</option>
      <option value="ski">Ski</option>
    </select><br>


    <label>Distanse: </label>
    <input type="text"><br><br>

    <input type="submit" value="Registrer">
  </form>

</body>
</html>
