{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ request.user }}{% endblock %}

{% block head %}
<style media="screen">
  .rectangle-1 {
    height: 150px;
    background-color: rgba(185,5,5,1)
  }
  .rectangle-2 {
    height: 100px;
    background-color: rgba(185,5,5,0.5)
  }
  .rectangle-3 {
    height: 50px;
    background-color: rgba(185,5,5,0.2)
  }
</style>
{% endblock head %}

{% block body %}
<div class="">


  <div id="title" class="text-center mb-5">
    <span class="h1">Statistikk</span> <span class="h1"> - {{ your_points.0.name }}</span>

  </div>




  <div class="">
    <div class="row justify-content-md-center d-flex align-items-end">
      <div class="col-2 text-center">
        {{ second.0.name }}: {{ second.1 }} poeng
        <div class="rectangle-2 rounded mt-4"></div>
      </div>
      <div class="col-2 text-center">
        {{ first.0.name }}: {{ first.1 }} poeng
        <div class="rectangle-1 rounded mt-4"></div>
      </div>
      <div class="col-2 text-center">
        {{ third.0.name }}: {{ third.1 }} poeng
        <div class="rectangle-3 rounded mt-4"></div>
      </div>
    </div>
  </div>



    </div>
    <div class="container text-center mt-5">
      {% if diff %}
      For å ta igjen 1. plassen kan avdelingen din enten:

        Trene {{ facts.0 }} styrkeøkter<br>
        Løpe {{ facts.1 }} km<br>
        Sykle {{ facts.2 }} km<br>
        Gå {{ facts.3 }} km<br>
        Svømme {{ facts.4 }} km<br>
        Gå {{ facts.5 }} km på ski<br>
    </div>
    {% endif %}
  </div>

</div>
{% endblock %}
