{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ request.user }}{% endblock %}

{% block head %}
<style media="screen">
    tbody tr:hover {
        background-color: rgba(255,0,0,0.2);
    }
  .rectangle-1 {
    height: 150px;
    background-color: rgba(185,5,5,1);
  }
  .rectangle-2 {
    height: 100px;
    background-color: rgba(185,5,5,0.5);
  }
  .rectangle-3 {
    height: 50px;
    background-color: rgba(185,5,5,0.2);
  }
</style>
{% endblock head %}

{% block body %}
<div class="">


  <div class="h1 text-center mb-5">
    Statistikk
  </div>


        <div class="mb-5">
            <div class="row justify-content-md-center d-flex align-items-end">
                <div class="col-2 text-center">
                    {{ department_points.1.0.name }}: {{ department_points.0.1 }} poeng
                    <div class="rectangle-2 rounded mt-3"></div>
                </div>
                <div class="col-2 text-center">
                    {{ department_points.0.0.name }}: {{ department_points.0.1 }} poeng
                    <div class="rectangle-1 rounded mt-3"></div>
                </div>
                <div class="col-2 text-center">
                    {{ department_points.2.0.name }}: {{ department_points.0.1 }} poeng
                    <div class="rectangle-3 rounded mt-3"></div>
                </div>
            </div>
        </div>

        <table id="table-results" class="table text-light">
            <thead>
                <tr class="cursor-n-resize">
                    <th scope="col">Rank</th>
                    <th scope="col">Avdeling</th>
                    <th scope="col">#Medlemmer</th>
                    <th scope="col">Poeng</th>
                    <th scope="col">Gjennomsnitt</th>
                    <th scope="col">Poeng bak</th>
                </tr>
            </thead>
            <tbody>
                {% for tuple in department_points %}
                    {% if request.user.department == tuple.0 %}
                        <tr class="bg-dark text-light">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tuple.0.name }}</td>
                            <td>{{ tuple.0.users.all.count }}</td>
                            <td>{{ tuple.1 }}</td>
                            <td>{{ tuple.2 | default:'0' }}</td>
                            <td class="text-danger">{{ tuple.3 }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ tuple.0.name }}</td>
                            <td>{{ tuple.0.users.all.count }}</td>
                            <td>{{ tuple.1 }}</td>
                            <td>{{ tuple.2 | default:'0' }}</td>
                            <td class="text-danger">{{ tuple.3 }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}

{% block scripts %}
    <!-- https://mottie.github.io/tablesorter/docs/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha256-dtGH1XcAyKopMui5x20KnPxuGuSx9Rs6piJB/4Oqu6I=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $(function() {
                $("#table-results").tablesorter();
            });

        })
    </script>
{% endblock %}
