<!-- Navbar -->
{% load static %}
<nav style="padding: 0px 0px 0px 20px; box-shadow: 0 8px 10px -10px #010101; -webkit-box-shadow: 0 8px 10px -10px #010101; background-color: #0d0d0d;" class="navbar navbar-expand-lg navbar-dark fixed-top">

    <a style="padding: 0px; margin: 0px 50px 0px 0px" class="navbar-brand" href="{% url 'stefan:index' %}">
        <img style="padding: 0px 0px 0px 10px" width="60" src="{% static "main/Forsvarets_merke.png" %}" alt="">
        Idretten Ørland Flystasjon
    </a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbar" class="collapse navbar-collapse mr-auto">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'distance:register' %}">
                    {# <img src="https://img.icons8.com/ios/24/FFFFFF/69.png"> #}
                    {# <i class="lni-timer"></i> #}
                    <i class="lni-calendar"></i>
                    Registrer
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'emil:index' %}">
                    <i class="lni-calendar"></i>
                    Emil
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'stefan:register' %}">
                    <i class="lni-calendar"></i>
                    Stefan
                </a>
            </li>

        </ul>
    </div>
</nav> <!-- End: navbar -->
